# Load csv

In [96]:
import csv
import pandas as pd

file_name = 'us_marriages_divorces.csv'
df = pd.read_csv(file_name, encoding='latin-1')

# How many rows and columns in total

In [97]:
df.shape

(145, 6)

# Print head of DataFrame

In [98]:
df.head()

,Year,Marriages,Divorces,Population,Marriages_per_1000,Divorces_per_1000
0,1867,357000.0,10000.0,36970000,9.7,0.3
1,1868,345000.0,10000.0,37885000,9.1,0.3
2,1869,348000.0,11000.0,38870000,9.0,0.3
3,1870,352000.0,11000.0,39905000,8.8,0.3
4,1871,359000.0,12000.0,41010000,8.8,0.3

# Print columns in DF

In [99]:
df.columns

Index(['Year', 'Marriages', 'Divorces', 'Population', 'Marriages_per_1000',
       'Divorces_per_1000'],
      dtype='object')

# Slice 'Year' column

In [100]:
df.Year[0:3]

0    1867
1    1868
2    1869
Name: Year, dtype: int64

In [101]:
df['Year'][0:3]

0    1867
1    1868
2    1869
Name: Year, dtype: int64

# Data Type

In [102]:
type(df.Year)

pandas.core.series.Series

# View certain columns

In [103]:
df[['Year','Marriages','Divorces']][:4]

   Year  Marriages  Divorces
0  1867   357000.0   10000.0
1  1868   345000.0   10000.0
2  1869   348000.0   11000.0
3  1870   352000.0   11000.0

# Max, Min, Mean

In [104]:
df['Divorces'].mean()

414576.6241134752

In [105]:
df['Year'].max()

2011

In [106]:
df['Marriages'].min()

345000.0

# Print Data Set Statistics

In [107]:
df.describe()

,Year,Marriages,Divorces,Population,Marriages_per_1000,Divorces_per_1000
count,145.000000,1.410000e+02,1.410000e+02,1.450000e+02,141.000000,141.000000
mean,1939.000000,1.397450e+06,4.145766e+05,1.500917e+08,9.635461,2.118440
std,42.001984,6.957505e+05,4.130935e+05,8.028776e+07,1.319152,1.519615
min,1867.000000,3.450000e+05,1.000000e+04,3.697000e+07,6.800000,0.300000
25%,1903.000000,7.760000e+05,6.100000e+04,8.063200e+07,8.800000,0.800000
50%,1939.000000,1.369000e+06,2.440000e+05,1.310280e+08,9.600000,1.900000
75%,1975.000000,2.157000e+06,8.400000e+05,2.159810e+08,10.400000,2.900000
max,2011.000000,2.482137e+06,1.233226e+06,3.120340e+08,16.200000,5.300000

In [108]:
df['Marriages'].describe()

count    1.410000e+02
mean     1.397450e+06
std      6.957505e+05
min      3.450000e+05
25%      7.760000e+05
50%      1.369000e+06
75%      2.157000e+06
max      2.482137e+06
Name: Marriages, dtype: float64

# Conditionally select data

In [109]:
df[df.Year >=2007]

,Year,Marriages,Divorces,Population,Marriages_per_1000,Divorces_per_1000
140,2007,2197000.0,856000.0,301696000,7.3,2.8
141,2008,2157000.0,844000.0,304543000,7.1,2.8
142,2009,2080000.0,840000.0,307240000,6.8,2.7
143,2010,2096000.0,872000.0,309776000,6.8,2.8
144,2011,2118000.0,877000.0,312034000,6.8,2.8

In [110]:
df['Marriages'][df.Year> 2008]

142    2080000.0
143    2096000.0
144    2118000.0
Name: Marriages, dtype: float64

In [111]:
df[df['Year'] == df.Year.max()]

,Year,Marriages,Divorces,Population,Marriages_per_1000,Divorces_per_1000
144,2011,2118000.0,877000.0,312034000,6.8,2.8

In [112]:
df[df['Marriages'] == df.Marriages.max()]

,Year,Marriages,Divorces,Population,Marriages_per_1000,Divorces_per_1000
117,1984,2482137.0,1181970.0,236394000,10.5,5.0

In [113]:
df.Year[df['Divorces_per_1000'] == df.Divorces_per_1000.max()]

112    1979
114    1981
Name: Year, dtype: int64

In [114]:
df[['Year','Marriages_per_1000']][df['Marriages_per_1000'] == df.Marriages_per_1000.max()]

    Year  Marriages_per_1000
79  1946                16.2

# Plot Mariages vs Year and Divorces vs Year

In [115]:
from bokeh.plotting import show, figure, output_notebook
from bokeh.models import ColumnDataSource
output_notebook()
source = ColumnDataSource(df)

p = figure(title = 'Mariages vs Year and Divorces vs Year')
p.circle(x = 'Year', y = 'Marriages',
         legend = 'Marriage',
         source = source)
p.circle(x = 'Year', y = 'Divorces', source = source, color = 'red',
        legend = 'Divorce',)

show(p)

# Plot Mariages per 100 vs Year and Divorces per 1000 vs Year

In [116]:
p = figure(title = 'Mariages per 100 vs Year and Divorces per 1000 vs Year')
p.circle(x = 'Year', y = 'Marriages_per_1000',
         legend = 'Marriage_per_1000',
         source = source)
p.circle(x = 'Year', y = 'Divorces_per_1000', source = source, color = 'red',
        legend = 'Divorce_per_1000',)

show(p)

# Index

In [117]:
df.index

RangeIndex(start=0, stop=145, step=1)

In [118]:
df.head()

,Year,Marriages,Divorces,Population,Marriages_per_1000,Divorces_per_1000
0,1867,357000.0,10000.0,36970000,9.7,0.3
1,1868,345000.0,10000.0,37885000,9.1,0.3
2,1869,348000.0,11000.0,38870000,9.0,0.3
3,1870,352000.0,11000.0,39905000,8.8,0.3
4,1871,359000.0,12000.0,41010000,8.8,0.3

# Rename index

In [119]:
df.set_index('Year', inplace=True)

In [120]:
df.head()

      Marriages  Divorces  Population  Marriages_per_1000  Divorces_per_1000
Year
1867   357000.0   10000.0    36970000                 9.7                0.3
1868   345000.0   10000.0    37885000                 9.1                0.3
1869   348000.0   11000.0    38870000                 9.0                0.3
1870   352000.0   11000.0    39905000                 8.8                0.3
1871   359000.0   12000.0    41010000                 8.8                0.3

In [121]:
df.loc[1867]

Marriages               357000.0
Divorces                 10000.0
Population            36970000.0
Marriages_per_1000           9.7
Divorces_per_1000            0.3
Name: 1867, dtype: float64

In [122]:
df.reset_index(inplace=True)

In [123]:
df.head()

,Year,Marriages,Divorces,Population,Marriages_per_1000,Divorces_per_1000
0,1867,357000.0,10000.0,36970000,9.7,0.3
1,1868,345000.0,10000.0,37885000,9.1,0.3
2,1869,348000.0,11000.0,38870000,9.0,0.3
3,1870,352000.0,11000.0,39905000,8.8,0.3
4,1871,359000.0,12000.0,41010000,8.8,0.3

In [124]:
df.set_index('Marriages', inplace=True)

In [125]:
df.Year[df['Divorces_per_1000'] == df.Divorces_per_1000.max()]

Marriages
2341102.0    1979
2438085.0    1981
Name: Year, dtype: int64

In [126]:
df.loc[357000]

Year                      1867.0
Divorces                 10000.0
Population            36970000.0
Marriages_per_1000           9.7
Divorces_per_1000            0.3
Name: 357000.0, dtype: float64

# Are any values null

In [127]:
df.isnull().values.any()

True

# Find just the columns that have NaN values

In [128]:
df.isnull().any()

Year                  False
Divorces               True
Population            False
Marriages_per_1000     True
Divorces_per_1000      True
dtype: bool

# Find out which rows have NaNs in a specific column

In [129]:
nan_rows = df[df['Divorces'].isnull()]
print(nan_rows)

           Year  Divorces  Population  Marriages_per_1000  Divorces_per_1000
Marriages
NaN        1982       NaN   232218000                 NaN                NaN
NaN        1983       NaN   234333000                 NaN                NaN
NaN        1995       NaN   266588000                 NaN                NaN
NaN        1996       NaN   269714000                 NaN                NaN

In [130]:
df.Year[df['Divorces_per_1000'].isnull()]

Marriages
NaN    1982
NaN    1983
NaN    1995
NaN    1996
Name: Year, dtype: int64

In [131]:
df[['Year','Divorces_per_1000']][df['Divorces_per_1000'].isnull()]

           Year  Divorces_per_1000
Marriages
NaN        1982                NaN
NaN        1983                NaN
NaN        1995                NaN
NaN        1996                NaN

In [132]:
df.isnull().sum().sum()

12

# REMOVE MISSING VALUES
## pandas.DataFrame.dropna
### https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html

In [140]:
#df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
df.dropna()

           Year   Divorces  Population  Marriages_per_1000  Divorces_per_1000
Marriages
357000.0   1867    10000.0    36970000                 9.7                0.3
345000.0   1868    10000.0    37885000                 9.1                0.3
348000.0   1869    11000.0    38870000                 9.0                0.3
352000.0   1870    11000.0    39905000                 8.8                0.3
359000.0   1871    12000.0    41010000                 8.8                0.3
378000.0   1872    12000.0    42066000                 9.0                0.3
386000.0   1873    13000.0    43225000                 8.9                0.3
385000.0   1874    14000.0    44429000                 8.7                0.3
409000.0   1875    14000.0    45492000                 9.0                0.3
405000.0   1876    15000.0    46459000                 8.7                0.3
411000.0   1877    16000.0    47400000                 8.7                0.3
423000.0   1878    16000.0    48319000                 8.8                0.3
438000.0   1879    17000.0    49264000                 8.9                0.3
453000.0   1880    20000.0    50262000                 9.0                0.4
464000.0   1881    21000.0    51466000                 9.0                0.4
484000.0   1882    22000.0    52893000                 9.2                0.4
501000.0   1883    23000.0    54435000                 9.2                0.4
485000.0   1884    23000.0    55826000                 8.7                0.4
507000.0   1885    23000.0    57128000                 8.9                0.4
534000.0   1886    26000.0    58258000                 9.2                0.4
513000.0   1887    28000.0    59357000                 8.6                0.5
535000.0   1888    29000.0    60614000                 8.8                0.5
563000.0   1889    32000.0    61893000                 9.1                0.5
570000.0   1890    33000.0    63056000                 9.0                0.5
592000.0   1891    36000.0    64432000                 9.2                0.6
601000.0   1892    37000.0    65920000                 9.1                0.6
601000.0   1893    37000.0    67470000                 8.9                0.5
588000.0   1894    38000.0    68910000                 8.5                0.6
620000.0   1895    40000.0    70076000                 8.8                0.6
635000.0   1896    43000.0    71188000                 8.9                0.6
...         ...        ...         ...                 ...                ...
2293079.0  1978  1135408.0   222629000                10.3                5.1
2341102.0  1979  1193062.0   225106000                10.4                5.3
2413896.0  1980  1184175.0   227726000                10.6                5.2
2438085.0  1981  1219042.0   230008000                10.6                5.3
2482137.0  1984  1181970.0   236394000                10.5                5.0
2408911.0  1985  1192530.0   238506000                10.1                5.0
2406830.0  1986  1179347.0   240683000                10.0                4.9
2404146.0  1987  1165646.0   242843000                 9.9                4.8
2377092.0  1988  1151787.0   245061000                 9.7                4.7
2399654.0  1989  1162719.0   247387000                 9.7                4.7
2451774.0  1990  1175851.0   250181000                 9.8                4.7
2383182.0  1991  1191591.0   253530000                 9.4                4.7
2389375.0  1992  1233226.0   256922000                 9.3                4.8
2342538.0  1993  1197297.0   260282000                 9.0                4.6
2397441.0  1994  1211893.0   263455000                 9.1                4.6
2384000.0  1997  1163000.0   272958000                 8.7                4.3
2244000.0  1998  1135000.0   276154000                 8.1                4.1
2358000.0  1999  1145245.0   279328000                 8.4                4.1
2315000.0  2000   944000.0   282398000                 8.2                3.3
2326000.0  2001   940000.0   285225000                 8.2                3.3
2290000.0  2002   955000.0   287955000                 8.0                3.3
2245000.0  2003   927000.0   290626000                 7.7                3.2
2279000.0  2004   879000.0   293262000                 7.8                3.0
2249000.0  2005   847000.0   295993000                 7.6                2.9
2193000.0  2006   872000.0   298818000                 7.3                2.9
2197000.0  2007   856000.0   301696000                 7.3                2.8
2157000.0  2008   844000.0   304543000                 7.1                2.8
2080000.0  2009   840000.0   307240000                 6.8                2.7
2096000.0  2010   872000.0   309776000                 6.8                2.8
2118000.0  2011   877000.0   312034000                 6.8                2.8

[141 rows x 5 columns]

In [139]:
df

            Year   Divorces  Population  Marriages_per_1000  Divorces_per_1000
Marriages
 357000.0   1867    10000.0    36970000                 9.7                0.3
 345000.0   1868    10000.0    37885000                 9.1                0.3
 348000.0   1869    11000.0    38870000                 9.0                0.3
 352000.0   1870    11000.0    39905000                 8.8                0.3
 359000.0   1871    12000.0    41010000                 8.8                0.3
 378000.0   1872    12000.0    42066000                 9.0                0.3
 386000.0   1873    13000.0    43225000                 8.9                0.3
 385000.0   1874    14000.0    44429000                 8.7                0.3
 409000.0   1875    14000.0    45492000                 9.0                0.3
 405000.0   1876    15000.0    46459000                 8.7                0.3
 411000.0   1877    16000.0    47400000                 8.7                0.3
 423000.0   1878    16000.0    48319000                 8.8                0.3
 438000.0   1879    17000.0    49264000                 8.9                0.3
 453000.0   1880    20000.0    50262000                 9.0                0.4
 464000.0   1881    21000.0    51466000                 9.0                0.4
 484000.0   1882    22000.0    52893000                 9.2                0.4
 501000.0   1883    23000.0    54435000                 9.2                0.4
 485000.0   1884    23000.0    55826000                 8.7                0.4
 507000.0   1885    23000.0    57128000                 8.9                0.4
 534000.0   1886    26000.0    58258000                 9.2                0.4
 513000.0   1887    28000.0    59357000                 8.6                0.5
 535000.0   1888    29000.0    60614000                 8.8                0.5
 563000.0   1889    32000.0    61893000                 9.1                0.5
 570000.0   1890    33000.0    63056000                 9.0                0.5
 592000.0   1891    36000.0    64432000                 9.2                0.6
 601000.0   1892    37000.0    65920000                 9.1                0.6
 601000.0   1893    37000.0    67470000                 8.9                0.5
 588000.0   1894    38000.0    68910000                 8.5                0.6
 620000.0   1895    40000.0    70076000                 8.8                0.6
 635000.0   1896    43000.0    71188000                 8.9                0.6
...          ...        ...         ...                 ...                ...
NaN         1982        NaN   232218000                 NaN                NaN
NaN         1983        NaN   234333000                 NaN                NaN
 2482137.0  1984  1181970.0   236394000                10.5                5.0
 2408911.0  1985  1192530.0   238506000                10.1                5.0
 2406830.0  1986  1179347.0   240683000                10.0                4.9
 2404146.0  1987  1165646.0   242843000                 9.9                4.8
 2377092.0  1988  1151787.0   245061000                 9.7                4.7
 2399654.0  1989  1162719.0   247387000                 9.7                4.7
 2451774.0  1990  1175851.0   250181000                 9.8                4.7
 2383182.0  1991  1191591.0   253530000                 9.4                4.7
 2389375.0  1992  1233226.0   256922000                 9.3                4.8
 2342538.0  1993  1197297.0   260282000                 9.0                4.6
 2397441.0  1994  1211893.0   263455000                 9.1                4.6
NaN         1995        NaN   266588000                 NaN                NaN
NaN         1996        NaN   269714000                 NaN                NaN
 2384000.0  1997  1163000.0   272958000                 8.7                4.3
 2244000.0  1998  1135000.0   276154000                 8.1                4.1
 2358000.0  1999  1145245.0   279328000                 8.4                4.1
 2315000.0  2000   944000.0   282398000                 8.2                3.3
 2326000.0  2001   940000.0   285225000                 8.2                3.3
 2290000.0  2002   955000.0   287955000                 8.0                3.3
 2245000.0  2003   927000.0   290626000                 7.7                3.2
 2279000.0  2004   879000.0   293262000                 7.8                3.0
 2249000.0  2005   847000.0   295993000                 7.6                2.9
 2193000.0  2006   872000.0   298818000                 7.3                2.9
 2197000.0  2007   856000.0   301696000                 7.3                2.8
 2157000.0  2008   844000.0   304543000                 7.1                2.8
 2080000.0  2009   840000.0   307240000                 6.8                2.7
 2096000.0  2010   872000.0   309776000                 6.8                2.8
 2118000.0  2011   877000.0   312034000                 6.8                2.8

[145 rows x 5 columns]

# Select rows with one or more nulls from DataFrame

In [134]:
df[pd.isnull(df).any(axis=1)]

           Year  Divorces  Population  Marriages_per_1000  Divorces_per_1000
Marriages
NaN        1982       NaN   232218000                 NaN                NaN
NaN        1983       NaN   234333000                 NaN                NaN
NaN        1995       NaN   266588000                 NaN                NaN
NaN        1996       NaN   269714000                 NaN                NaN